<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h2>TinyApp</h2>
    <h3 style='display: flex; align-items: center;'>
      <form method='post' action='/logout' style='margin: 5px'>
        <input type='submit' value='Logout'>
      </form>
      <form method='post' action='/register' style='margin: 5px'>
        <input type='submit' value='Register'>
      </form>
      <h4>Logged in with: <%= user.email %></h4>
    </h3>
</body>
</html>