<!DOCTYPE html>
<html lang='en'>

<head>
  <% include partials/_header %>
</head>

<body>
  <main>
    <h2>url Database</h2>
      <% Object.keys(urls).forEach(function (key) { %>
        <li> <%= key %>: <%= urls[key] %></li>
      <% }); %>

  </main>
</body>
</html>