<!DOCTYPE html>
<html lang = 'en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
  <main>
      <h2> <%= shortURL %> <%= longURL %> </h2>
  </main>
</body>
</html>